[submodule "hugo-devresume-theme"]
	path = hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
[submodule "resume1/hugo-devresume-theme"]
	path = resume1/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
[submodule "resume/themes/devresume"]
	path = resume/themes/devresume
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
